/*
    Responsive style for project
*/



.hide-arrows,.hide-arrows-two{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.hide-arrows{
    top: auto;
    height: 105px;
}

.faq{display:block; background-color:#ffffff; padding:56px 0 66px;}
.faq .faq_head{font-size:24px; color:#fc625f; font-family:'PTSb'; text-transform:uppercase; margin-bottom:24px;}
.faq .question{padding-left:40px; position:relative; font-size:14px; text-transform:uppercase; color:#000; font-family:'PTSb'}
/*.faq .qa_block:hover .question{color:#fc625f;}*/
.faq .question i{display:block; position:absolute; left:2px; top:1px; width:17px; height:17px; background:url(http://img.napishem.com/index/faq_icons.png) left center no-repeat;}
/*.faq .qa_block:hover .question i{background-position:right center;}*/
.faq .answer{color:#666; padding-left:40px; margin-bottom:24px;}
/*.faq .qa_block:hover .answer{color:#000;}*/


.other_que{height:120px; background-color:#ffbc5a; line-height:120px;font-size:30px; font-family:'PTSb'; color:#6c440b; text-indent:50px;}
.other_que i{display:block; position:absolute; width:46px; height:23px; margin-left:-23px; left:50%; bottom:-23px; background:url(http://img.napishem.com/index/work_hard_barr.png) center top no-repeat;}
.other_que .cont{height:120px; background:url(http://img.napishem.com/index/other_que_bg.png) right bottom no-repeat;}


.bot_btn{display:block; background-color:#f2f2f2; padding:15px 0;}
.bot_btn a{display:block; margin:0 auto; height:48px; line-height:48px; background-color:#fc625f; border-bottom:2px solid #e0413e; text-align:center; color:#fff; font-size:18px; text-transform:uppercase; text-decoration:none; width:220px; font-family:'PTSb'; border-radius:4px;}
.bot_btn a:hover{background-color:#ee5b58;}
.bot_btn a:active{background-color:#dc4c49; border-top:2px solid #c8302d; border-bottom:none;}

#header .h_contacts a{
    display: block;
    font-size: 24px;
    margin: 2px 0 0;
    text-decoration: none;
}

.f_contacts{
    display: none;
}

@media screen and (max-width: 999px){

    body{
        min-width: 0px;
    }

    .cont, #header .cont, #footer .cont{
        width: auto !important;
        padding: 0 40px;
    }

    #header .masha{
        display: none;
    }

    /*Hidden blocks*/

    #header .slogan2,#header .h_work,#header .h_contacts p:nth-child(3){
        display: none;
    }

    #banner_land{
        display: none!important;
    }

    .bot_btn a{
        height: 70px;
        width: 300px;
        font-size: 28px;
        font-weight: bold;
        line-height: 75px;
    }

    #header{
        height: 550px;
    }

    #header.second-header{
        height: 200px;
    }

    #header.second-header .logo{
        top: 0;
    }

    #header.second-header .barr{
        display: block;
    }

    #header #logo{
        left: 30px;
        height: 140px;
        width: 220px;
        background-size: 100%;
    }

    #header .slogan1{
        position: absolute;
        top: 190px;
        padding-top: 35px;
        text-align: center;
        margin: 0;
        left: 40px;
        right: 40px;
        border-top: 1px solid #26a5a1;
        font-size: 58px;
        line-height: 1;
    }

    #header .h_contacts{
        right: 40px;
        left: auto !important;
        top: 95px !important;
    }

    #header .h_sign{
        right: 30px;
        top: 35px;
        padding: 9px 22px 9px 52px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #007370 url(http://img.napishem.com/index/login_lock.png) 25px center no-repeat;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        background-size: 16px;
    }

    #header .h_sign:hover{
        text-decoration: underline;
    }

    #header .make_deal{
        position: absolute;
        top: 385px;
        margin: 0 auto;
        left: 50%;
        margin-left: -158px;
        height: 77px;
        width: 300px;
        line-height: 77px;
        font-weight: bold;
    }

    #price_form .form{
        width: auto;
        padding-bottom: 10px;
    }

    #price_form .sb_head{
        font-size: 44px;
        margin-bottom: 55px;
    }

    .reviews_block{
        background: #fff;
        height: auto;
        padding-bottom: 65px;
        position: relative;
    }

    .inp_line.price_head, #price_form .col2{
        display: none;
    }

    #price_form .pluses{
        padding-top: 40px;
    }

    .inp_line{
        padding: 33px 0;
        height: auto;
        line-height: 1;
        overflow: hidden;
        font-size: 28px;
        font-weight: bold;
    }

    .form table{
        display: none;
    }

    #price_form .col1{
        font-size: 30px;
        color: #0099cc;
        line-height: 1;
        width: 360px;
        padding: 0;
        margin-bottom: 5px;
    }

    #price_form .col3{
        font-size: 30px;
        font-weight: bold;
        width: 100%;
    }

    #price_form .col4{
        width: 125px;
        font-size: 30px;
        font-weight: bold;
    }

    #price_form .plus{
        min-height: 73px;
        height: auto;
        margin: 0 0 10px;
    }

    #price_form .plus.n2, #price_form .plus{
        float: none;
        margin-right: 0;
        width: auto;
        margin-bottom: 15px;
    }

    #price_form .plus,.plus {
        height: auto;
        margin-bottom: 15px;
    }

    #price_form .pl_head, .plus .pl_head{
        font-size: 24px!important;
        margin-bottom: 5px;
        font-weight: bold;
    }

    #price_form .pl_text, .plus .pl_text{
        font-size: 24px!important;
        line-height: 1;
        margin: 0;
    }

    .hiw, .vk_plug,#advises,#footer .copyright,#footer .f_menu,#footer .f_social{
        display: none;
    }

    #footer .f_contacts{
        top: 40px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .pay_info{
        padding: 45px 0 50px;
    }

    .pay_info, .pay_info .cont{
        height: auto;
        text-align: center;
    }

    .pay_info .cont{
        padding: 0 10px;
    }

    .pay_info .pay_type{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
    }

    .pay_info .left_text{
        position: relative;
        top: 0;
        text-align: center;
        font-size: 33px;
        width: auto;
        white-space: nowrap;
        line-height: 34px;
        margin: 0 0 25px;
    }

    .pay_info .pay_type{
        padding-top: 10px;
    }

    .content-left{
        float: none;
        width: auto;
        margin: 0;
        padding-top: 50px;
    }

    .content-right{
        width: auto;
        float: none;
        margin: 0;
    }

    .content-left .cl-head{
        text-align: center;
        font-size: 42px;
        margin-bottom: 30px;
    }

    .pluses{
        overflow: hidden;
    }

    .content-left .cl-orange-block{
        background-size: 100% 100%;
        width: 100%;
        min-height: 70px;
        padding: 12px 20px 12px 40px;
        height: auto;
        font-size: 22px;
        line-height: 34px;
    }

    .other_que{
        height: auto;
    }

    .other_que .cont, .work_hard{
        height: auto;
        text-align: center;
        padding: 30px 0;
        font-size: 36px;
        font-weight: bold;
        line-height: 1;
    }

    .other_que .cont{
        background: none;
    }

    .work_hard{

    }

    .right_block{
        float: none;
        margin: 0 auto 30px;
        width: auto;
    }

    .left_block{
        margin: 0;
    }

    #header .h_mobile{
        display: none;
    }

    #content .strange_block{
        width: auto;
        background-size: 100% 100%;
        min-height: 41px;
        height: auto;
        line-height: 1;
        padding: 12px 20px;
    }

    .popup .popup_b{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .popup .popup_b .popup_line input[type=text], .popup .popup_b .popup_line input[type=password]{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .popup .popup_b .close_popup{
        top: -35px;
        right: 0;
    }

    #price_form .col4{
        float: right;
        margin-top: -44px;
    }

    #price_form .plus .pl_text{
        padding-right: 30px;
    }

    #header .h_contacts{
        text-align: right;
    }

    #header .h_contacts p{
        font-size: 18px;
        line-height: 1;
    }

    #header .h_contacts a{
        display: block;
        font-size: 37px;
        margin: 0 0 5px;
        text-decoration: underline;
        font-weight: bold;
    }

    #header .h_contacts a:hover{
        text-decoration: none;
    }

    .f_contacts{
        display: block;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
    }

    .hide-arrows,.hide-arrows-two{
        display: block;
    }

    .pay_type{
        position: relative;
    }

    .faq .question i{
        background: url('../index/accordion-icons.png') no-repeat left top;
        height: 24px;
        width: 24px;
    }

    .faq .question.active{
        color: #fc625f;
        margin: 0;
    }

    .faq .question.active i{
        background: url('../index/accordion-icons.png') no-repeat left bottom;
    }

    .faq .faq_head{
        font-size: 28px;
        font-weight: bold;
    }

    .faq .question{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 26px;
        cursor: pointer;
    }

    .faq .cont{
        padding: 0 30px;
    }

    .faq .answer{
        font-size: 24px;
        line-height: 30px;
    }

    .faq .qa_block{
        margin-bottom: 20px;
    }

    .bot_btn{
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
    }

    #footer{
        height: 310px !important;
        min-height: 0;
        padding: 0;
    }

    #footer .f_contacts .phone a{
        color: #fff;
        font-size: 38px;
        text-decoration: underline;
    }

    #footer .f_contacts .phone a:hover{
        text-decoration: none;
    }

    #footer .f_contacts .phone{
        font-size: 38px;
    }

    #footer .f_contacts .phone >span{
        font-size: 22px!important;
        display: block;
    }

    .faq .sb_head{
        padding-top: 0;
        padding-bottom: 110px;
        text-align: center;
        background: url('../index/dotted-icons.png') no-repeat bottom center;
        font-weight: bold;
        cursor: pointer;
        font-size: 36px;
    }

    .faq .a_block{
        display: none;
        margin-top: 60px;
    }

    .a_block,.a_block p{
        font-size: 24px;
    }

    #price_form .show_more_lines{
        white-space: nowrap;
    }

    #price_form .show_more_lines a{
        font-size: 24px;
        font-weight: bold;
    }

    .reviews_block .sb_head{
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 70px;
    }

    .bx-viewport{
        height: 390px !important;
    }
    .reviews_block li{
       /* width: 530px !important;*/
    }

    .review_block{
        height: 345px;
        width: auto;
    }

    .review_block .rev_text{
        height: 260px;
        font-size: 22px;
        line-height: 28px;
    }

    .review_block .rev_about{
        height: 60px;
    }

    .review_block .rev_img, .review_block .rev_type{
        display: none;
    }

    .review_block .rev_name{
        font-weight: bold;
        font-size: 24px;
    }

    .content-right{
        margin-bottom: 40px;
     }

    .content-right .form-head{
        font-size: 28px;
    }

    .jq-selectbox__select{
        font-size: 24px;
        height: 57px;
        line-height: 57px;
    }

    .jq-selectbox__trigger-arrow{
        height: 30px;
        width: 27px;
        background-size: 270px;
        background-position: 0 -69px;
        top: 18px;
    }

    .content-right .form-block input[type=text], .content-right .form-block input[type=date], .content-right .form-block input[type=email], .content-right .form-block input[type=tel], .content-right .form-block select, .content-right .form-block textarea{
        font-size: 24px;
        height: 57px;
    }

    .jq-selectbox.phone-code{
        width: 185px !important;
    }

    .content-right .form-block input.short-input{
        width: 185px;
    }

    .content-right .form-block input.date-input{
        background-size: 40px;
        background-position: right 14px;
    }

    .content-right .form-bot{
        height: auto;
    }

    .content-right .btn{
        height: 77px;
        width: 410px;
        line-height: 77px;
        font-weight: bold;
        font-size: 30px;
        float: none;
    }

    .content-right .form-block a{
        display: block;
        float: none;
        font-size: 24px;
        margin-bottom: 35px;
        text-decoration: underline;
        text-align: center;
    }

    .content-right .form-block a:hover{
        text-decoration: none;
    }

    .content-right .form-block a.form-show-more{
        text-align: left;
    }

    .bx-has-pager{
        position: relative;
    }

}

@media screen and (max-width: 600px){

    #header{
        height: 750px;
    }

    #header.second-header{
        height: 350px;
    }

    .content-right .form-bot{
        height: auto;
    }

    .content-right .btn{
        float: none;
    }

    .content-right .promo-link{
        float: none;
    }

    .content-right .form-block a{
        display: block;
        margin-bottom: 20px;
    }

    #price_form .col1{
        width: auto;
    }

    #header #logo{
        left: 50%;
        margin-left: -110px;
    }

    #header .h_sign{
        top: 130px;
        right: 50%!important;
        margin-right: -145px;
    }

    #header .slogan1{
        top: 330px;
    }

    #header .make_deal{
        top: 600px;
    }

    #header .h_contacts{
        top: 215px !important;
    }

    #price_form .col4{
        float: right;
        margin-top: 20px;
    }

    #price_form .show_more_lines{
        white-space: normal;
        line-height: 28px;
        text-align: center;
        padding: 20px 0 25px;
        height: auto;
    }

    .other_que .cont, .work_hard{
        padding: 20px 40px;
    }

    .content-right .btn{
        font-size: 20px;
        width: auto;
        padding: 0 20px;
    }

    #header.second-header .h_sign{
        top: 150px;
    }

    .jq-selectbox.phone-code{
        width: 100% !important;
        margin-bottom: 10px;
    }

    #phone{
        width: 100%;
    }

}

