@font-face {
    font-family: 'PTS';
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-regular.eot');
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-regular.eot') format('embedded-opentype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-regular.woff') format('woff'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-regular.ttf') format('truetype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-regular.svg#PTS') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSb';
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bold.eot');
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bold.eot') format('embedded-opentype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bold.woff') format('woff'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bold.ttf') format('truetype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bold.svg#PTSb') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSi';
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-italic.eot');
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-italic.eot') format('embedded-opentype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-italic.woff') format('woff'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-italic.ttf') format('truetype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-italic.svg#PTSi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSbi';
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bolditalic.eot');
    src: url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bolditalic.eot') format('embedded-opentype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bolditalic.woff') format('woff'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bolditalic.ttf') format('truetype'),
    url('http://www.napishem.com/skins/default/fonts/pt_sans-web-bolditalic.svg#PTSbi') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{margin:0; padding:0;}
html, body{width:100%; height:100%;}
a img{border:none;}
a:hover{text-decoration:none;}
.clear{clear:both;}

#wrapper{width:100%; min-height:100%; position:relative;}
.cont{width:900px; position:relative; margin:0 auto;}

body{min-width:980px; font:12px Arial, Helvetica, sans-serif; font-family:'PTS';}

#header{
height:140px;
/* включить перед новым годом */
	/*background: url(http://img.napishem.com/landing/header_lp_new_year.jpg) center top no-repeat #009591;*/
	}
	#header{height:140px; background-color:#009591;}

	.static_banner {
		width: 100%;
		height: 140px;
		display: block;
		background-image: url(http://img.napishem.com/banner_lp.jpg);
		position: relative;
		top: 21px;
	}

	.new_year_ba {
		display: block;
		padding-left: 20px;
		background: url(http://img.napishem.com/new_year1.png) no-repeat;
		position: absolute;
		right: -28px;
		top: 63px;
		color: #fff;
		font-size: 14px;
		width: 130px;
		height: 156px;
	}



	#header .cont{width:980px;}
	#header #logo{display:block;
	width:180px;
	/*включить  перед н.г.*/
	/*height:116px;-*/
	height: 58px;
	background:url(http://img.napishem.com/landing/logo.png) center center no-repeat;
	position:absolute;
	left:0;
	top:18px;
	}
	#header .h_contacts{display:block; position:absolute; left:410px; top:38px; font-family:'PTSb'; color:#fff; text-transform:uppercase;}
	#header .h_contacts span{font-size:24px; display:block; margin:2px 0 0;}
	#header .h_contacts a{color:#fff; font-family:'PTS'; font-size:14px; text-transform:none;}
	#header .h_mobile{position:absolute; right:0; top:27px; font-size:14px; color:#fff; text-align:center;}
	#header .h_mobile a{color:#fff; display:inline-block; zoom:1; *display:inline;}
	#header .h_mobile a.asl{width:88px; height:30px; background:url(http://img.napishem.com/appstore.png) center center no-repeat; margin:6px 1px;}
	#header .h_mobile a.gpl{width:88px; height:30px; background:url(http://img.napishem.com/googleplay.png) center center no-repeat; margin:6px 1px;}
	#header .h_mobile a.five{width:48px; height:48px; background:url(http://img.napishem.com/landing/48.png) center center no-repeat; margin:6px 1px;}

	.sb_head{font-size:36px; color:#000; text-align:center; font-family:'PTSb'; line-height:1.1; padding-top:40px;}

	.block1{height:537px; background-color:#fff; height:auto; padding-bottom:50px;}
	.block1 .sb_head{font-size:48px; line-height:49px;}
	.block1 .strange_block{width:898px; margin:20px auto 0; height:41px; line-height:41px; font-family:'PTSbi'; font-size:18px; color:#000; text-align:center; background:url(http://img.napishem.com/landing/strange_bg.png) center center no-repeat;}
	.block1 .slogan{width:740px; margin:20px auto 0; font-size:13px; font-family:'PTSi'; color:#666;}
	.block1 .pluses{padding-left:80px; margin-top:67px;}
	.block1 .plus{display:block; float:left; width:295px; position:relative; padding-left:75px; height:73px;}
	.block1 .plus > i{display:block; width:54px; height:54px; position:absolute; left:0; top:0;}
	.block1 .plus.n1 > i{background:url(http://img.napishem.com/landing/prop_icon1.png) center center no-repeat;}
	.block1 .plus.n2 > i{background:url(http://img.napishem.com/landing/prop_icon2.png) center center no-repeat;}
	.block1 .plus.n3 > i{background:url(http://img.napishem.com/landing/prop_icon3.png) center center no-repeat;}
	.block1 .plus.n4 > i{background:url(http://img.napishem.com/landing/prop_icon4.png) center center no-repeat;}
	.block1 .plus .pl_head{font-size:18px; font-family:'PTSb'; padding-top:7px;}
	.block1 .plus .pl_text{font-size:14px; margin-top:1px;}
	.block1 .plus .pl_text a{display:inline-block; zoom:1; *display:inline; vertical-align:top; text-decoration:none; border-bottom:1px dotted #fc625f; color:#fc625f; line-height:1; padding-top:2px;}
	.block1 .plus .pl_text a:hover{border-color:transparent;}

	.form_block{background-color:#e3edf3; padding-top:14px; position:relative; padding-bottom:60px;}
	.form_block > i{display:block; width:46px; height:23px; position:absolute; left:50%; top:0; margin-left:-23px; background:url(http://img.napishem.com/landing/form_top_barr.png) center top no-repeat;}
	.form_block .form{border:4px solid #98b9cd; position:relative; padding:45px 75px; background-color:#fff; margin:30px auto 0;}
	.form_block .form > i{display:block; width:35px; height:65px; position:absolute; right:-4px; top:-4px; background:url(http://img.napishem.com/landing/form_rt.jpg) right top no-repeat;}
	.form_block .form input[type=text],.form_block .form textarea{color:#000 !important;border:2px solid #f2f2f2; padding:0 19px; height:46px; background-color:#f2f2f2; width:551px; border-radius:5px; font-size:14px; font-family:'PTSb';}
	.form_block .form textarea{font-family:'PTSb'; font-size:14px; padding:13px 19px; height:115px; overflow:auto; resize:none;}
	.form_block .form input[type=text]:hover,.form_block .form textarea:hover{border-color:#d9d9d9;}
	.form_block .form input[type=text]:focus,.form_block .form textarea:focus{outline:none; border-color:#98b9cd; color:#000;}
	.form_block .form .inp_line{display:table; width:100%; padding:10px 0;}
	.form_block .form .inp_line .left{display:table-cell; font-size:14px; font-family:'PTSb'; text-transform:uppercase; vertical-align:top; line-height:50px;}
	.form_block .form .inp_line .left .star{color:#ff3333;}
	.form_block .form .inp_line .right{display:table-cell; width:593px; position:relative;}
	.form_block .form .show_more{margin-left:170px; font-size:14px; font-family:'PTSb'; padding:5px 0;}
	.form_block .form .show_more .sm_link{padding-left:30px; position:relative; text-decoration:none; display:inline-block; line-height:20px; color:#0099cc;}
	.form_block .form .show_more i{display:block; width:20px; height:20px; background:url(http://img.napishem.com/landing/form_close_icon.png) center bottom no-repeat; position:absolute; left:0; top:0;}
	.form_block .form .show_more.opened i{background-position:center top;}
	.form_block .form .show_more span{display:inline-block; zoom:1; *display:inline; border-bottom:1px dotted #0099cc; line-height:14px; padding-top:3px;}
	.form_block .form .show_more .sm_link:hover span{border-color:transparent;}

	.form_block .form .inp_line .calendar{float:left;}
	.form_block .form .inp_line .calendar input[type=text]{background-image:url(http://img.napishem.com/landing/calendar_btn.png); background-position:182px center; background-repeat:no-repeat; width:162px;}
	.form_block .form .inp_line .lnum{float:right;}
	.form_block .form .inp_line .lnum input[type=text]{width:52px; margin-left:13px;}
	.form_block .form .inp_line .lnum span{display:inline-block; zoom:1; *display:inline; vertical-align:middle; font-size: 14px; font-family: 'PTSb'; text-transform: uppercase; margin-right:5px;}
    .form_block .form .inp_line .lnum span.star{color: #FF3333;font-family: 'PTSb';font-size: 14px;line-height: 50px;text-transform: uppercase;}

	.form_block .form .hidden{display:none;}

	.form_block .form .inputs{margin-bottom:-15px; position:relative; min-height:50px;}
	.form_block .form .inputs > div{height:50px; margin-bottom:15px; width:465px;}
	.form_block .form .inputs .jq-file{float:left;}

    .jq-file.inp-file.focused {border: none;}
    .jq-file.inp-file.focused .jq-file__name {border-color: #98B9CD;width:248px;border-width: 2px 2px 2px 2px;}
    .jq-file.inp-file:hover .jq-file__name {border-color: #d9d9d9;width:248px;border-width: 2px 2px 2px 2px;}

    .form_block .form .inputs > div > a{display:block; margin-top:16px; float:left; font-size:14px; font-family:'PTSb'; color:#000; margin-left:20px; text-decoration:none; border-bottom:1px dotted #000; line-height:16px;}
	.form_block .form .inputs > div > a:hover{border-color:transparent;}
	.form_block .form .inputs .add_more{display:block; position:absolute; right:27px; bottom:17px; font-size:14px; font-family:'PTSb'; line-height:16px; text-decoration:none; border-bottom:1px dotted #0099cc; color:#0099cc;}
	.form_block .form .inputs .add_more:hover{border-color:transparent;}
	.form_block .form .form_bot{margin-left:150px; line-height:58px; font-size:24px; height:58px; padding-top:20px;}
	.form_block .form .form_bot .finish{border:none; background:none; float:right; display:block; width:260px; text-align:center; font-size:24px; font-family:'PTSb'; color:#fff; text-decoration:none; background-color:#fc625f; border-bottom:2px solid #e0413e; border-top:2px solid #fc625f; border-radius:4px; height:58px; cursor:pointer;}
	.form_block .form .form_bot .finish:hover{background-color:#ee5b58; border-top-color:#ee5b58;}
	.form_block .form .form_bot .finish:active{background-color:#dc4c49; border-top-color:#c8302d; border-bottom-color:#dc4c49;}
	.form_block .form .form_bot .clarify{line-height:24px; border-bottom: 2px dotted #0099cc; text-decoration:none; font-family:'PTSb'; color:#0099cc; float:left; margin-top:16px; height:24px; display:block; }
	.form_block .form .form_bot .clarify:hover{border-bottom-color:transparent;}
	.form_block .total{font-size:18px; color:#fc625f; font-family:'PTSb'; text-align:center; margin-top:32px;}
    .form_block .form .inp_line.error input[type=text],.form_block .form .inp_line.error .jq-selectbox__select,.form_block .form .inp_line.error textarea{border-color:#fc625f !important;}
    .form_block .form .inp_line.error .jq-file__name {border-color:#fc625f !important;border-width: 2px;}
    .form_block .form .error_msg{font-size:14px; font-family:'ptsi'; margin-left:20px; display:none;}
	.form_block .form .error .error_msg{display:block;}

	.work_hard{position:relative; height:120px; background-color:#ffbc5a; line-height:120px; font-size:30px; color:#6c440b; text-align:center; font-family:'PTSb';}
	.work_hard i{display:block; position:absolute; width:46px; height:23px; margin-left:-23px; left:50%; bottom:-23px; background:url(http://img.napishem.com/landing/work_hard_barr.png) center top no-repeat;}

	.reviews_block{height:505px; overflow:hidden;}
	.reviews_block li{display:inline-block; zoom:1; *display:inline; vertical-align:top; list-style:none;}
	.reviews_block .sb_head{padding-top:50px; margin-bottom:35px;}
	.review_block{display:block; border:4px solid #eae6d5; border-radius:5px; width:420px; font-size:14px; color:#000; padding-top:30px; font-family:'PTS';}
	.review_block .rev_text{padding:0 35px; line-height:1.5; height:148px; overflow:hidden;}
	.review_block .rev_about{border-top:1px solid #eae6d5; padding:24px 35px 0; position:relative; height:70px;}
	.review_block .rev_img{position:absolute; top:25px; right:35px;}
	.review_block .rev_name{font-family:'PTSb';}
	.review_block .rev_type{font-family:'PTSi'; margin-top:5px;}
	.reviews_block .bx-pager{text-align:center; margin-top:30px;}
	.reviews_block .bx-pager .bx-pager-item{display:block; width:16px; height:16px; display:inline-block; zoom:1; *display:inline; margin:0 3px;}
	.reviews_block .bx-pager .bx-pager-item a{display:block; widows:16px; height:16px; text-indent:999px; overflow:hidden; background:url(http://img.napishem.com/landing/slider_dots.png) left center no-repeat;}
	.reviews_block .bx-pager .bx-pager-item a:hover{background-position:center center;}
	.reviews_block .bx-pager .bx-pager-item a:active,.reviews_block .bx-pager .bx-pager-item a.active{background-position:center right;}

	.hiw{height:120px; background-color:#3f9fc9; line-height:120px;font-size:30px; font-family:'PTSb'; color:#fff; text-indent:70px;}
	.hiw a{color:#fff;}
	.hiw .cont{background:url(http://img.napishem.com/landing/video_bg.png) right 20px no-repeat; height:120px; }

	.authors{height:588px;}
	.authors .sb_head{padding-top:60px;}
	.authors .head2{font-size:16px; color:#000; font-family:'ptsi'; text-align:center; margin-top:6px; margin-bottom:75px;}

	.authors .author_slider{}
	.authors .author{display:block; width:148px; text-align:center;font-size:13px; color:#999; font-family:'ptsi'; height:270px;}
	.authors .author .auth_img{width:148px; height:148px; border-radius:100%; overflow:hidden; cursor:pointer;}
	.authors .author .auth_mark{color:#fc625f; font-size:18px; font-family:'ptsb';}
	.authors .author .auth_name{font-size:24px; color:#000; font-family:'ptsb'; line-height:1.8;}
	.authors .bx-pager{text-align:center; margin-top:40px;}
	.authors .bx-pager .bx-pager-item{display:block; width:16px; height:16px; display:inline-block; zoom:1; *display:inline; margin:0 3px;}
	.authors .bx-pager .bx-pager-item a{display:block; widows:16px; height:16px; text-indent:999px; overflow:hidden; background:url(http://img.napishem.com/landing/slider_dots.png) left center no-repeat;}
	.authors .bx-pager .bx-pager-item a:hover{background-position:center center;}
	.authors .bx-pager .bx-pager-item a:active,.authors .bx-pager .bx-pager-item a.active{background-position:center right;}

	.vk_plug{height:537px; background-color:#e3edf3;}
	.vk_plug .sb_head{padding-top:50px; margin-bottom:35px;}

	.pay_info,.pay_info .cont{height:120px; background-color:#26ae90; text-align:right;}
	.pay_info .left_text{font-size:14px; color:#fff; text-transform:uppercase; position:absolute; left:0; top:50%; font-family:'ptsb'; line-height:17px; margin-top:-17px; text-align:left;}
	.pay_info .pay_type{display:inline-block; zoom:1; *display:inline; vertical-align:top; margin-left:7px; padding-top:35px; width:100px; height:49px; position:relative;}
	.pay_info .pay_type .show_pay_popup{border-radius:3px; overflow:hidden; display:block; position:relative;}
	.pay_info .pay_type.visible .show_pay_popup i{display:block; width:100px; height:49px; background:url(http://img.napishem.com/landing/pay_hover.png) center center no-repeat; position:absolute; left:0; top:0;}
	.pay_popup{display:none; position:absolute; left:50%; top:104px; z-index:3; background-color:#fff; padding:20px 25px; border:4px solid #ffbc5a; text-align:left; font-size:14px; line-height:1.5; width:371px; border-radius:4px; box-shadow:0 0 20px #888; margin-left:-215px;}
	.pay_popup i{display:block; width:24px; height:16px; position:absolute; left:50%; top:-16px; background:url(http://img.napishem.com/landing/pay_popup_tarr.png) center center no-repeat; margin-left:-12px;}
	.visible .pay_popup{display:block;}

	.faq {padding-bottom:90px;}
	.faq .sb_head{color:#fc625f; font-size:24px; text-align:left; text-transform:uppercase; padding-top:55px;}
	.faq .q_block{margin-top:22px; font-size:14px; color:#000; font-family:'ptsb'; text-transform:uppercase; line-height:1.5;}
	.faq .q_block.red{color:#fc625f;}
	.faq .a_block{font-family:'pts'; font-size:14px; color:#4a4134; line-height:1.5; text-align:justify;}

	#footer{height:auto; background-color:#165d84; overflow:hidden; color:#fff; font-family:'pts'; font-size:14px; padding-bottom:61px;}
	#footer .cont{width:980px; padding:20px 0;}
	#footer .copyright{position:absolute; left:715px; bottom:8px; font-size:14px; }
	#footer .f_menu{width:626px; border-left:1px dotted #397596; border-right:1px dotted #397596; padding:5px 0 5px 20px; margin-left:30px;}
	#footer .f_menu ul{list-style:none;}
	#footer .f_menu ul li{width:50%; float:left; display:block; margin-right:20px; width:293px;}
	#footer .f_menu ul li a{color:#fff; font-size:14px; color:#bbe1f5; line-height:1.5;}
	#footer .f_contacts{position:absolute; left:715px; top:37px;}
	#footer .f_contacts a{color:#fff;}
	#footer .f_contacts .phone{font-size:18px; font-family:'ptsb';}
	#footer .f_social{position:absolute; right:0; top:37px;}
	#footer .f_social a{float:left;width:40px; height:40px; margin-left:10px;}
	#footer .f_social a.vk{background:url(http://img.napishem.com/landing/soc_vk.png) center center no-repeat;}
	#footer .f_social a.tw{background:url(http://img.napishem.com/landing/soc_tw.png) center center no-repeat;}


	.popup{display:none; width:100%; height:100%; position:fixed; left:0; top:0; z-index:100;}
	.popup .popup_shadow{display:block; width:100%; height:100%; background-color:#000; opacity:0.6; filter:alpha(opacity=60);  position:absolute; left:0; top:0;}
	.popup table,.popup table td{width:100%; height:100%; vertical-align:middle;}
	.popup .popup_b{margin:0 auto; position:relative; width:492px; border:4px solid #eae6d5; border-radius:5px; background-color:#fff; z-index:101; box-shadow:0 0 10px #666;}
	.popup_author_chose .popup_b{text-align:center; font-size:18px; font-family:'ptsb'; padding:50px 0 55px;}
	.popup .btn{margin:25px auto 0; display:block; width:238px; text-align:center; font-size:18px; font-family:'PTSb'; color:#fff; text-decoration:none; background-color:#fc625f; border-bottom:2px solid #e0413e; border-top:2px solid #fc625f; border-radius:4px; height:40px; line-height:40px; text-transform:uppercase;}
	.popup .btn:hover{background-color:#ee5b58; border-top-color:#ee5b58;}
	.popup .btn:active{background-color:#dc4c49; border-top-color:#c8302d; border-bottom-color:#dc4c49;}
	.popup .popup_b .close_popup{display:block; width:28px; height:28px; position:absolute; right:-50px; top:-50px; background:url(http://img.napishem.com/landing/close_popup.png) center center no-repeat;}

	.popup_preload{text-align:center;}
	.popup_preload .popup_b{padding:50px 0 55px;}
	.popup_preload .line1{font-size:18px; color:#000; font-family:'ptsb';}
	.popup_preload .line2{font-size:14px; font-family:'pts'; line-height:50px; margin-bottom:5px;}

	.popup_find_price .sb_head{border-bottom:1px solid #eae6d5; text-align:left; padding:0 0 0 36px; line-height:77px;font-size:24px; margin-bottom:22px;}
	.popup_find_price p{margin:0 36px; font-size:14px; font-family:'pts'; line-height:1.5;}
	.popup_find_price p.verdict{font-size:18px; font-family:'ptsb'; line-height:1.2; margin-top:16px;}
	.popup_find_price p.verdict .price{display:block; color:#fc625f;}
	.popup_find_price .fp_bot{border-top:1px solid #eae6d5; padding:0 36px; height:110px;}
	.popup_find_price .fp_bot .btn{margin:0; float:right; margin-top:30px;}
	.popup_find_price .fp_bot p{margin:0; margin-top:35px; line-height:1.3;}

    .bot_link{height:65px; border-top:1px solid #e3e3e3; position:fixed; width:100%; background-color:#f2efe1; z-index:80; left:0; bottom:-65px; box-shadow:0 0 3px #666; text-align:center; padding-top:18px;}
    .bot_link a {padding-top:10px;border:none; background:none; display:inline-block; width:260px; text-align:center; font-size:18px; font-family:'PTSb'; color:#fff; text-decoration:none; background-color:#fc625f; border-bottom:2px solid #e0413e; border-top:2px solid #fc625f; border-radius:4px; height:35px; cursor:pointer;}
    .bot_link a:hover{background-color:#ee5b58; border-top-color:#ee5b58;}
    .bot_link a:active{background-color:#dc4c49; border-top-color:#c8302d; border-bottom-color:#dc4c49;}

	.inp_line .right .pops{position:absolute; /*left:0; top: 50px;*/ height: auto; padding: 0 19px 0 19px; border: 2px solid #f2f2f2; background: #f2f2f2; color: #000; font: 14px/46px 'PTSb'; border-radius: 5px; outline:none; border-color:#98b9cd; color:#000; width:551px; z-index:101;}
.inp_line .right .pops ul{padding: 10px 0;}
.inp_line .right .pops ul li{line-height: 26px; cursor: pointer;}
.inp_line .right .pops ul li:hover{color:#fc625f;}
#background{width: 100%; height: 100%; position: fixed; z-index: 1; display: none;}

.jq-selectbox.opened{z-index:103 !important;}

.stars_rating_block {
    display: block;
    position: absolute;
    width: 120px;
    height: 25px;
    overflow: hidden;
    border: none;
    background: url(http://img.napishem.com/review_stars.png) no-repeat 0 0px;
    left: 12px;
}

.sb_head h1{
    font-size: 48px;
}

.link_page {
    color: #000000;
    font-family: 'PTSb';
    font-size: 40px;
    line-height: 1;
    text-align: center;
}

#content{padding:35px 0;}

#content .strange_block{background: url("http://img.napishem.com/landing/strange_bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #000000;
    font-family: 'PTSbi';
    font-size: 18px;
    height: 41px;
    line-height: 41px;
    margin: 15px auto 45px;
    text-align: center;
    width: 898px;}

.uls {
    text-align: left;
}

.uls ul li{display: block; float: left; width: 50%;}

.right_block {
    border: 4px solid #EAE6D5;
    border-radius: 3px 3px 3px 3px;
    float: right;
    width: 250px;
}

.left_block {
    font-size: 18px;
    margin-right: 280px;
}

.right_block .rb_head {
    border-bottom: 1px solid #EAE6D5;
    font-family: 'PTSb';
    font-size: 21px;
    padding: 10px 20px;
}

.right_block ul {
    list-style: none outside none;
}

.right_block ul li {
    display: block;
    font-size: 18px;
    line-height: 1.3;
    padding: 10px 20px;
}

.right_block ul li a {
    color: #0026FF;
    display: block;
    font-size: 20px;
}

.uls ul {
    display: inline-block;
    line-height: 1.1;
    list-style: none outside none;
    margin: 20px 40px;
    vertical-align: top;
}

.btn{border:none; background:none; margin:0 auto 20px; line-height:48px; display:block; width:200px; text-align:center; font-size:24px; font-family:'PTSb'; color:#fff; text-decoration:none; background-color:#fc625f; border-bottom:2px solid #e0413e; border-top:2px solid #fc625f; border-radius:4px; height:48px; cursor:pointer;}
.btn:hover{background-color:#ee5b58; border-top-color:#ee5b58;}
.btn:active{background-color:#dc4c49; border-top-color:#c8302d; border-bottom-color:#dc4c49;}
#rh-copy {
    display:none !important;
}

#header .h_sign{display:block; padding-left:20px; background:url(http://img.napishem.com/index/login_lock.png) left center no-repeat; position:absolute; right:0; top:47px; color:#fff; font-size:14px;}

.header_button {
	float: right;
	display: block;
	height: 33px;
	padding: 0 10px;
	background: url(http://img.napishem.com/btn.png);
	margin: 12px 0 0;
	border-left: 1px solid #2E7A86;
	border-right: 1px solid #009591;
	position: relative;
	z-index: 50;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 32px;
	color: #fff;
	text-align: center;
	top: 20px;
	left: 15px;
}

.header_button.quit {
	border-radius: 0 4px 4px 0;
	font-size: 10px;
	color: #d2d9e5;
	text-decoration: none;
}

.header_button.login {
	border-radius: 4px 0 0 4px;
}

.popup{display:none; width:100%; height:100%; position:fixed; left:0; top:0; z-index:100; font-size: 14px;}
.popup .popup_shadow{display:block; width:100%; height:100%; background-color:#000; opacity:0.6; filter:alpha(opacity=60);  position:absolute; left:0; top:0;}
.popup table,.popup table td{width:100%; height:100%; vertical-align:middle;}
.popup .popup_b{margin:0 auto; position:relative; width:492px; border:4px solid #eae6d5; border-radius:5px; background-color:#fff; z-index:101; box-shadow:0 0 10px #666;}
.popup .popup_b .close_popup{display:block; width:28px; height:28px; position:absolute; right:-50px; top:-50px; background:url(http://img.napishem.com/index/close_popup.png) center center no-repeat;}
.popup .popup_b .popup_head{border-bottom:1px solid #eae6d5; height:77px; line-height:77px; padding:0 38px; font-size:24px; font-family:'PTSb'; margin-bottom:20px;}
.popup .popup_b .popup_line{margin:0 38px 10px 38px; position:relative; padding-left:85px; height:50px; line-height:50px;}
.popup .popup_b .popup_line .label{position:absolute; left:0; top:0; color:#000; text-transform:uppercase; font-family:'PTSb';}
.popup .popup_b .popup_line .recover{display:block; position:absolute; right:18px;; top:0; color:#0099cc; line-height:1; top:17px;}
.popup .popup_b .popup_line input[type=text],.popup .popup_b .popup_line input[type=password]{border:2px solid #f2f2f2; padding:0 19px; height:46px; background-color:#f2f2f2; width:291px; border-radius:5px; font-size:14px; font-family:'PTSb';}
.popup .popup_b .popup_line input[type=text]:hover,.popup .popup_b .popup_line input[type=password]:hover{border-color:#d9d9d9;}
.popup .popup_b .popup_line input[type=text]:focus,.popup .popup_b .popup_line input[type=password]:focus{outline:none; border-color:#98b9cd; color:#000;}
.popup .popup_b .popup_options{height:50px; line-height:50px; padding-bottom:30px; padding:10px 38px 30px; border-bottom:1px solid #eae6d5; margin-bottom:30px;}
.popup .popup_b .popup_options .sign_up{display:block; float:right; height:48px; line-height:48px; background-color:#fc625f; border-bottom:2px solid #e0413e; text-align:center; color:#fff; font-size:18px; text-transform:uppercase; text-decoration:none; width:220px; font-family:'PTSb'; border-radius:4px;}
.popup .popup_b .popup_options .sign_up:active{position:relative; top:1px;}
.popup .popup_b .popup_options .sign_in{color:#0099cc; font-family:'PTSb';}
.popup .popup_b .popup_social{text-align:right; padding:0 38px 30px; position:relative;}
.popup .popup_b .popup_social span{position:absolute; left:38px; top:0; line-height:34px;}
.popup .popup_b .popup_social a{display:inline-block; zoom:1; *display:inline; vertical-align:top; width:34px; height:34px; margin-left:7px;}
.popup .popup_b .popup_social a.s1{background:url(http://img.napishem.com/index/popup_social1.png) center center no-repeat;}
.popup .popup_b .popup_social a.s2{background:url(http://img.napishem.com/index/popup_social2.png) center center no-repeat;}
.popup .popup_b .popup_social a.s3{background:url(http://img.napishem.com/index/popup_social3.png) center center no-repeat;}
.popup .popup_b .popup_social a.s4{background:url(http://img.napishem.com/index/popup_social4.png) center center no-repeat;}
.popup .popup_b .popup_social a.s5{background:url(http://img.napishem.com/index/popup_social5.png) center center no-repeat;}
.popup .popup_b .popup_social a.s6{background:url(http://img.napishem.com/index/popup_social6.png) center center no-repeat;}

/*.free-call{ cursor:pointer;}
p.free-call{text-decoration: underline;}
p.free-call:hover{text-decoration: none;}
p.free-call:active{text-decoration: none;}

span.free-call{text-decoration: underline;}
span.free-call:hover{text-decoration: none;}
span.free-call:active{text-decoration: none;}*/


.free-call-hint-main {
	display: block;
	width: 87px;
	height: 16px;
	overflow: hidden;
	border: none;
	background: url(http://img.napishem.com/Ring_LP.png) no-repeat 0 0px;
	white-space: nowrap;
	cursor: pointer;
	z-index: 100;
	margin-top: 2px !important;
	margin-bottom: 3px !important;
}

.free-call-hint-main-bottom {
	display: block;
	width: 87px;
	height: 16px;
	overflow: hidden;
	border: none;
	background: url(http://img.napishem.com/Ring_LP.png) no-repeat 0 0px;
	white-space: nowrap;
	cursor: pointer;
	z-index: 100;
	margin-top: 4px !important;
	margin-bottom: -1px !important;
}

.subject-autocomplete {
    position: absolute; width: 589px; background-color: #fff; border: 2px solid #98B9CD; border-top: none;height:auto; max-height: 329px; overflow-x: hidden; overflow-y: scroll;z-index: 999;
}

.subject-autocomplete div {
    height: 25px; width: 581px; border-bottom: 1px solid #98B9CD; padding: 15px 0 25px 15px; cursor: pointer;
}

.subject-autocomplete div:last-child {
    border-bottom: none;
}

.subject-autocomplete div p {
    font-size: 140%;
}

.subject-autocomplete div span {
    font-size: 100%; color: gray;
}

.subject-autocomplete div.hover, .subject-autocomplete div.hover_mouse {
    background-color: rgba(207, 207, 207, 0.6);
}

.checkbox {
    font-family: 'PTSb';
    font-size: 14px;
    margin: 10px 0 20px 150px;
}

.checkbox a {
    background: url(http://img.napishem.com/ico/pers1.png) no-repeat 0 -22px; display: inline-block; height: 22px; padding-left:30px;color:#D4561F;font-size: 18px;text-decoration: none;
}

.checkbox a.checked {
    background-position: 0 0px;
}

.inp_line .right .phone {
    width:150px;margin-right:80px;float: left;
}

.inp_line .right .phone input {
    width:150px;
}

.form_block .form .right .phone .jq-selectbox {
    width: auto !important;
}

.form_block .form .right .phone .jq-selectbox__select {
    width: 150px !important;
}

.inp_line .right a.whatis {
    border-bottom: 1px dotted;color: #0099CC;font-size: 14px;text-decoration: none;
}
.stabil {
	display: block;width: 61px;height: 23px;position: absolute;right: 0px;top: 12px;
}

.checkbox a.whatis {
   background: none; border: none;color: #0099CC;font-size: 13px;text-decoration: none;padding: 0;
}

.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { font-family: Verdana,sans-serif; padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 400px; text-align: center; }
/* jQuery.tipsy START */
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #fff; color: #000; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; word-wrap:break-word; }
.tipsy-inner { border: 4px solid #eae6d5; border-radius: 5px; width: 420px; font-size: 14px; color: #000; padding-top: 10px; padding-bottom: 10px; font-family: 'PTS'; }
.tipsy-arrow { position: absolute; width: 0; height: 0; border: 5px solid transparent; }
.tipsy-arrow-n { border-bottom-color: #eae6d5; }
.tipsy-arrow-s { border-top-color: #eae6d5; }
.tipsy-arrow-e { border-left-color: #eae6d5; }
.tipsy-arrow-w { border-right-color: #eae6d5; }
.tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow { top: 0; border-top: none;  opacity: 1; }
.tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { bottom: 0; border-bottom: none; }
.tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { left: 50%; margin-left: -5px; }
.tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { left: 10px; }
.tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { right: 10px; }
.tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { top: 50%; margin-top: -5px; }
.tipsy-e .tipsy-arrow { right: 0; border-right: none; }
.tipsy-w .tipsy-arrow { left: 0; border-left: none; }
.tipsy .tipsy_left {text-align: left;display:block;}

.tipsy .tipsy_left {text-align: left;display:block;}

.msktime {background: url(http://img.napishem.com/information.png) no-repeat 0 4px;margin-left:150px;font-family: 'PTSb';font-size: 14px;padding: 5px 0 5px 25px;}
.msktime a {color: #0099CC;display: inline-block;line-height: 20px;position: relative;text-decoration: none;border-bottom: 1px dotted #0099CC;}

.popup .popup_b .popup_line.error input {border-color:#fc625f !important;}
.popup .popup_b .popup_line .error_msg {font-family: 'ptsi';font-size: 14px;margin-left: 20px;display: none;}
.popup .popup_b .popup_line.error {margin-bottom:35px;}
.popup .popup_b .popup_line.error .error_msg {display: block;}
.popup .popup_b .popup_line .current-time {display: block;padding-left: 105px;text-align: left;}
.popup .popup_b .popup_line .current-time a {color: #0099CC;font-family: 'PTSb';font-size: 14px;display: inline-block;line-height: 20px;text-decoration: none;border-bottom: 1px dotted #0099CC;}
.popup .popup_b .popup_line .current-time i {margin-top:15px;float:left;background: url(http://img.napishem.com/edittime.png) no-repeat 0 0;display: inline-block;width: 24px;height: 22px;}
.popup .popup_b .popup_line .set-current-time {display: none;}
.popup .popup_b .popup_line.active .current-time {display: none;}
.popup .popup_b .popup_line.active .set-current-time {display: block;}
.popup .popup_b .popup_line input.date {float:left;margin-left:110px;width:162px; background-image: url("http://img.napishem.com/landing/calendar_btn.png");background-position: 182px center;background-repeat: no-repeat;}
.popup .popup_b .popup_line input.time {width:20px;margin: 0 5px}
.popup .popup_b .popup_line a.ok {background-color: #FC625F;border-bottom: 2px solid #E0413E;border-radius: 4px;color: #FFFFFF;display: block;float: right;font-family: 'PTSb';font-size: 12px;height: 35px;width: 40px;line-height: 35px;text-align: center;text-decoration: none;text-transform: uppercase;margin-top: 6px;}
.popup .popup_b .popup_line a.ok:active {position:relative; top:1px;}


#header{height:100px;}
#header .h_contacts{left: 537px; top: 18px;}
#header .h_sign{top:40px;}
#header .free_call{font-weight:normal; text-transform:none; font-family:'PTS'; font-size:13px;}
.form_block {background:none; padding-bottom:0; float:right; padding-top:30px;}
.form_block .cont{width:auto;}
.form_block .form {padding:25px 30px 15px; width:435px; margin-top:0; float:right; }
.form_block .form .form_head{font-family:'PTSb'; font-size:30px; color:#000000; line-height:1; margin-bottom:20px;}
.form_block .form input[type=text], .form_block .form textarea{height:34px; width:393px;}
.form_block .form .inp_line .left{line-height:38px;}
.form_block .form .inp_line{padding:0 0 10px;}
.form_block .form .show_more{margin-left:5px; padding:0; margin-bottom:10px;}
.form_block .form textarea{height:55px;}
.form_block .form .inputs > div > a{margin-top:11px;}
.form_block .form .inputs .add_more{bottom:10px;}
.inp_line .right .phone input{width:150px;}
.inp_line .right .phone{width:170px; margin-right:10px}
.form_block .form .right .phone .jq-selectbox__select{width:100px !important;}
.form_block .form .inputs > div{height:38px;}
.form_block .form .inputs{min-height:38px;}
.form_block .form .inp_line .calendar input[type=text]{background-position:172px center;}
.form_block .form .inp_line .right.promo_hidden{display:none;}
.form_block .form .inp_line #promo_link{color:#0094ff; font-size:14px;}
.form_block .form .form_bot{margin-left:0; line-height:normal; padding-top:5px;}
.form_block .form .form_bot .finish{float:none; height:42px; line-height:42px;}
.form_block .form .inp_line .right{width:auto;}
.block1{float:left;}
.block1 .sb_head{text-transform:uppercase; }
.block1 .cont{width:auto;}
.block1 .sb_head,.block1 .pluses{width:541px; padding-left:0; text-align:left;}
.top_cont{width:1080px; margin:0 auto 50px;;}
